In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [3]:
# Load vehicle data set into pandas
vehicle_data = pd.read_csv("../Resources/singapore-motor-vehicle-population.csv")
vehicle_data.head()

   year  type                     engine  number
0  2006  Cars                     Petrol  471707
1  2006  Cars                     Diesel       7
2  2006  Cars            Petrol-Electric     379
3  2006  Cars  Petrol-Electric (Plug-In)       0
4  2006  Cars                 Petrol-CNG     214

In [5]:
# Generate a scatter plot of year versus number of petrol-electric cars
pe_cars = vehicle_data.loc[vehicle_data["engine"] == 'Petrol-Electric', ["year", "number"]]
pe_cars.head()

    year  number
2   2006     379
10  2006       0
18  2006       0
25  2006       0
32  2007    1057

In [4]:
# Perform a linear regression on year versus petrol-electric cars

In [5]:
# Create equation of line to calculate predicted number of petrol-electric cars

In [6]:
# Plot the linear model on top of scatter plot

In [7]:
# Repeat plotting scatter and linear model for petrol cars versus year

In [8]:
# Repeat plotting scatter and linear model for diesel cars versus year

In [9]:
# Generate a facet plot of all 3 figures

In [10]:
# Calculate the number of cars for 2024